In [1]:
import pandas as pd

In [2]:
results = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/results.csv')
results.head(8)
results.tail(20)
results.sample(5)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
306874,2022.0,Winter,Curling,"Curling, Women (Olympic)",Zhang Lijun,148046,CHN,People's Republic of China,7.0,False,NaN
210522,1992.0,Winter,Speed Skating (Skating),"1,500 metres, Men (Olympic)",Guy Thibault,98225,CAN,NaN,20.0,False,NaN
280798,2016.0,Summer,Equestrian Eventing (Equestrian),"Team, Open (Olympic)",Yevgeniya Ovchinnikova,131571,RUS,Orion / Russian Federation,13.0,False,NaN
131395,1948.0,Summer,Sailing,"Two Person Keelboat, Open (Olympic)",Georgios Kalampokidis,62551,GRE,Nephos I,10.0,False,NaN
133216,1948.0,Summer,Sailing,"Three Person Keelboat, Open (Olympic)",Eric Strain,63790,GBR,Ceres II,4.0,False,NaN

In [3]:
results.loc[results['noc'] == 'USA']

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
1291,2008.0,Summer,Archery,"Individual, Women (Olympic)",Khatuna Lorig,504,USA,NaN,5.0,False,NaN
1292,2012.0,Summer,Archery,"Individual, Women (Olympic)",Khatuna Lorig,504,USA,NaN,4.0,False,NaN
1293,2012.0,Summer,Archery,"Team, Women (Olympic)",Khatuna Lorig,504,USA,United States,6.0,False,NaN
1977,2000.0,Summer,Table Tennis,"Singles, Women (Olympic)",Jun Gao,783,USA,NaN,17.0,True,NaN
1978,2000.0,Summer,Table Tennis,"Doubles, Women (Olympic)",Jun Gao,783,USA,Michelle Do,17.0,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...
306363,2020.0,Summer,Athletics,"Pole Vault, Men (Olympic)",Matt Ludwig,147723,USA,NaN,19.0,True,NaN
306385,2020.0,Summer,Football (Football),"Football, Women (Olympic)",Catarina Macário,147745,USA,United States,3.0,False,Bronze
306386,2020.0,Summer,Football (Football),"Football, Women (Olympic)",Casey Krueger,147746,USA,United States,3.0,False,Bronze
306387,2020.0,Summer,Football (Football),"Football, Women (Olympic)",Lynn Williams,147747,USA,United States,3.0,False,Bronze
306388,2020.0,Summer,Football (Football),"Football, Women (Olympic)",Jane Campbell,147748,USA,United States,NaN,False,Bronze

In [4]:
# [rows, columns]

results.loc[[ 79395, 200, 2000 ], [ 'event', 'discipline' ]]
# results.loc[70000:, [ 'event', 'discipline' ]]

                            event discipline
79395  Coxed Pairs, Men (Olympic)     Rowing
200      Singles, Women (Olympic)     Tennis
2000       Doubles, Men (Olympic)     Tennis