In [ ]:
import pandas as pd

In [ ]:
olympics = pd.read_excel('olympics-data.xlsx')

olympics.sample(10)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
24343,24532,Gustavo Santa,1945-10-08,Pereira,Risaralda,COL,Colombia,168.0,65.0,NaN
81616,82268,Veronika Šarec,1968-05-08,Ljubljana,Ljubljana,SLO,Slovenia Yugoslavia,173.0,61.0,NaN
62284,62747,Ulf Lehmann,1958-02-04,NaN,NaN,NaN,East Germany,178.0,80.0,NaN
58007,58415,Franz Schmitt,1937-09-05,Aschaffenburg,Bayern,GER,Germany,170.0,72.0,NaN
18970,19098,Rui da Silva,1939-01-05,NaN,NaN,NaN,"Hong Kong, China",178.0,58.0,2012-05-20
125541,127886,Károly Gombos,1981-10-03,Budapest,Budapest,HUN,Hungary,176.0,70.0,NaN
126007,128357,Fyodor Klimov,1990-09-07,NaN,NaN,NaN,Russian Federation,181.0,NaN,NaN
145261,148981,Matej Tomek,1997-05-24,Bratislava,Bratislava,SVK,Slovakia,191.0,82.0,NaN
13384,13466,Nikolay Bobarenko,1930-11-27,NaN,NaN,NaN,Soviet Union,NaN,NaN,1996-04-16
118769,120516,Aissata Touré,1990-09-19,Conakry,Conakry,GUI,Guinea,164.0,57.0,NaN

In [11]:
olympics[olympics['born_country'] == 'CRO']

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1625,1632,Stipe Drviš,1973-06-08,Makarska,Splitsko-dalmatinska županija,CRO,Croatia,196.0,81.0,NaN
2247,2257,Zoran Matković,1961-10-18,Varaždin,Varaždinska županija,CRO,Yugoslavia,176.0,66.0,NaN
2329,2339,Iva Majoli,1977-08-12,Zagreb,Grad Zagreb,CRO,Croatia,176.0,60.0,NaN
2330,2340,Maja Murić,1974-02-27,Zagreb,Grad Zagreb,CRO,Croatia,NaN,NaN,NaN
2331,2341,Damir Atiković,1971-02-17,Zagreb,Grad Zagreb,CRO,Croatia,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
141808,145389,Matea Pletikosić,1998-04-24,Sinj,Splitsko-dalmatinska županija,CRO,Montenegro,168.0,65.0,NaN
144444,148136,Zrinka Ljutić,2004-01-26,Zagreb,Grad Zagreb,CRO,Croatia,NaN,NaN,NaN
144445,148137,Marko Skender,2001-07-09,Rijeka,Primorsko-goranska županija,CRO,Croatia,182.0,73.0,NaN
144446,148138,Lea Jugovac,1994-11-07,Rijeka,Primorsko-goranska županija,CRO,Croatia,NaN,NaN,NaN
145458,149185,Mislav Rosandič,1995-01-26,Zagreb,Grad Zagreb,CRO,Slovakia,181.0,90.0,NaN

In [ ]:
# filtering with regex (anything can be passed on the contain method)
olympics[olympics['NOC'].str.contains('CRO|col', case=False, na=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
403,404,María Echevarría,1960-07-07,NaN,NaN,NaN,Colombia,NaN,NaN,NaN
404,405,Juan Echevarría,1962-01-28,NaN,NaN,NaN,Colombia,179.0,71.0,NaN
1321,1328,Leonidas Asprilla,1952-07-31,NaN,NaN,NaN,Colombia,164.0,57.0,NaN
1322,1329,Bonifacio Ávila,1950-06-05,NaN,NaN,NaN,Colombia,178.0,70.0,NaN
1323,1330,Eduardo Barragán,1951-07-01,Cartagena del Chairá,Caquetá,COL,Colombia,160.0,52.0,NaN
...,...,...,...,...,...,...,...,...,...,...
144443,148135,Carlos Quintana,1985-02-16,Pereira,Risaralda,COL,Colombia,NaN,NaN,NaN
144444,148136,Zrinka Ljutić,2004-01-26,Zagreb,Grad Zagreb,CRO,Croatia,NaN,NaN,NaN
144445,148137,Marko Skender,2001-07-09,Rijeka,Primorsko-goranska županija,CRO,Croatia,182.0,73.0,NaN
144446,148138,Lea Jugovac,1994-11-07,Rijeka,Primorsko-goranska županija,CRO,Croatia,NaN,NaN,NaN
144447,148139,Valentina Aščić,1998-11-12,Livno,Kanton 10,BIH,Croatia,NaN,NaN,NaN

In [ ]:
# We can concatenate any number of conditions. str is a string method that allows us use any python string based method
olympics[olympics['born_country'].str.contains('BRA', na = False, case=False) & (olympics['height_cm'] > 170)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
143,144,Marc-Kevin Goellner,1970-09-22,Rio de Janeiro,Rio de Janeiro,BRA,Germany,196.0,85.0,NaN
702,706,Vanessa Menga,1976-10-20,São Paulo,São Paulo,BRA,Brazil,175.0,60.0,NaN
704,708,Ricardo Acioly,1964-02-04,Botafogo,Rio de Janeiro,BRA,Brazil,179.0,78.0,NaN
707,711,Cláudio Kano,1965-12-18,São Paulo,São Paulo,BRA,Brazil,178.0,68.0,1996-07-01
708,712,Carlos Kawai,1969-07-30,Santo André,São Paulo,BRA,Brazil,175.0,63.0,NaN
...,...,...,...,...,...,...,...,...,...,...
137903,141285,Thales Hoss,1989-04-26,São Leopoldo,Rio Grande do Sul,BRA,Brazil,187.0,81.0,NaN
143999,147663,Ricardo Graça,1997-02-16,Rio de Janeiro,Rio de Janeiro,BRA,Brazil,183.0,70.0,NaN
144000,147664,Malcom,1997-02-26,São Paulo,São Paulo,BRA,Brazil,171.0,66.0,NaN
144006,147670,Marcelo Demoliner,1989-01-18,Caxias do Sul,Rio Grande do Sul,BRA,Brazil,192.0,86.0,NaN
144060,147726,Giulia Guarieiro,1995-07-24,São Paulo,São Paulo,BRA,Brazil,173.0,63.0,NaN